SCALEODM_ODM_IMAGE=${SCALEODM_ODM_IMAGE:-docker.io/opendronemap/odm:3.5.6}

SCALEODM_DATABASE_URL=${SCALEODM_DATABASE_URL:-postgresql://odm:odm@localhost:31101/scaleodm?sslmode=disable}

AWS_S3_ENDPOINT=${AWS_S3_ENDPOINT:-http://localhost:31102}
# Endpoint passed per-task to workflow pods (must be reachable from pods)
SCALEODM_WORKFLOW_S3_ENDPOINT=${SCALEODM_WORKFLOW_S3_ENDPOINT:-http://host.docker.internal:31102}
AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID:-odm}
AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY:-somelongpassword}
AWS_S3_STS_ENDPOINT=${AWS_S3_STS_ENDPOINT}
AWS_S3_STS_ROLE_ARN=${AWS_S3_STS_ROLE_ARN}

# In production KUBECONFIG_PATH should not be needed, as Argo
# can access the API of the cluster it is deployed within.
# For testing we can use:
# KUBECONFIG_PATH=/root/.kube/config
# K8S_NAMESPACE=odm
