# This file is used for running tests with an attached database

networks:
  net:
    name: scaleodm

services:
  api:
    image: "ghcr.io/hotosm/scaleodm:${TAG_OVERRIDE:-ci}"
    build:
      target: build
    container_name: scaleodm
    depends_on:
      db:
        condition: service_healthy
      s3:
        condition: service_healthy
    env_file: .env
    volumes:
      # Mount local files
      - ./go.mod:/code/go.mod:ro
      - ./go.sum:/code/go.sum:ro
      - ./main.go:/code/main.go:ro
      - ./main_test.go:/code/main_test.go:ro
      - ./app/api:/code/app/api:ro
      - ./app/config:/code/app/config:ro
      - ./app/db:/code/app/db:ro
      - ./app/meta:/code/app/meta:ro
      - ./app/s3:/code/app/s3:ro
      - ./app/workflows:/code/app/workflows:ro
    ports:
      - "8080:8080"
    networks:
      - net
    # This allows usage of services running directly on the host machine
    extra_hosts:
      - host.docker.internal:host-gateway
    entrypoint: go
    command: run main.go
    restart: "unless-stopped"
    # entrypoint: test -timeout=2m -v ./...
    # restart: "no"

  db:
    # image: "postgis/postgis:18-3.6-alpine"
    image: "docker.io/postgres:18-alpine"
    container_name: scaleodm-db
    environment:
      - POSTGRES_USER=odm
      - POSTGRES_PASSWORD=odm
      - POSTGRES_DB=scaleodm
    ports:
      - "5439:5432"
    networks:
      - net
    restart: "unless-stopped"
    healthcheck:
      test: pg_isready -U odm -d scaleodm
      start_period: 5s
      interval: 10s
      timeout: 5s
      retries: 3

  s3:
    image: "docker.io/minio/minio:RELEASE.2025-01-20T14-49-07Z"
    environment:
      MINIO_ROOT_USER: ${SCALEODM_S3_ACCESS_KEY:-odm}
      MINIO_ROOT_PASSWORD: ${SCALEODM_S3_SECRET_KEY:-somelongpassword}
      MINIO_VOLUMES: "/mnt/data"
      MINIO_BROWSER: ${MINIO_BROWSER:-off}
    # volumes:
    #   - s3_data:/mnt/data
    networks:
      - net
    command: minio server
    restart: "unless-stopped"
    healthcheck:
      test: timeout 5s bash -c ':> /dev/tcp/127.0.0.1/9000' || exit 1
      interval: 5s
      retries: 3
      start_period: 5s
      timeout: 5s
