# This file is used for running tests with an attached database

networks:
  net:
    name: scaleodm

services:
  api:
    image: "ghcr.io/hotosm/scaleodm:${TAG_OVERRIDE:-ci}"
    build:
      target: build
    container_name: scaleodm
    depends_on:
      db:
        condition: service_healthy
      s3:
        condition: service_healthy
    environment:
      SCALEODM_DATABASE_URL: postgresql://odm:odm@db:5432/scaleodm?sslmode=disable
      ENQUEUE_TEST_JOBS: true
    volumes:
      # Mount local files
      - ./go.mod:/app/go.mod:ro
      - ./go.sum:/app/go.sum:ro
      - ./main.go:/app/main.go:ro
      - ./main_test.go:/app/main_test.go:ro
      - ./db:/app/db:ro
      - ./queue:/app/queue:ro
      - ./worker:/app/worker:ro
      - ./api:/app/api:ro
    ports:
      - "8080:8080"
    networks:
      - net
    # This allows usage of services running directly on the host machine
    extra_hosts:
      - host.docker.internal:host-gateway
    entrypoint: go run main.go
    restart: "unless-stopped"
    # entrypoint: go test -timeout=2m -v ./...
    # restart: "no"

  db:
    # NOTE do we need PostGIS, or swap to vanilla Postgres?
    image: "postgis/postgis:17-3.5-alpine"
    container_name: scaleodm-db
    environment:
      - POSTGRES_USER=odm
      - POSTGRES_PASSWORD=odm
      - POSTGRES_DB=scaleodm
    ports:
      - "5439:5432"
    networks:
      - net
    restart: "unless-stopped"
    healthcheck:
      test: pg_isready -U odm -d scaleodm
      start_period: 5s
      interval: 10s
      timeout: 5s
      retries: 3

  # In production this linked NodeODM instance is autoscaled by k8s
  nodeodm:
    image: opendronemap/nodeodm:3.5.5
    container_name: nodeodm
    networks:
      - net
    restart: on-failure:10
    command: --parallel_queue_processing 1

  s3:
    image: "docker.io/minio/minio:RELEASE.2025-01-20T14-49-07Z"
    environment:
      MINIO_ROOT_USER: ${S3_ACCESS_KEY:-odm}
      MINIO_ROOT_PASSWORD: ${S3_SECRET_KEY:-somelongpassword}
      MINIO_VOLUMES: "/mnt/data"
      MINIO_BROWSER: ${MINIO_BROWSER:-off}
    # volumes:
    #   - s3_data:/mnt/data
    networks:
      - net
    command: minio server
    restart: "unless-stopped"
    healthcheck:
      test: timeout 5s bash -c ':> /dev/tcp/127.0.0.1/9000' || exit 1
      interval: 5s
      retries: 3
      start_period: 5s
      timeout: 5s
