{{- if .Values.api.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "scaleodm.fullname" . }}-config
  labels:
    {{- include "scaleodm.labels" . | nindent 4 }}
data:
  ODM_IMAGE: {{ .Values.config.odmImage | quote }}
  CLUSTER_URL: {{ .Values.config.clusterUrl | default (printf "http://%s.%s.svc.cluster.local:%d" (include "scaleodm.fullname" .) .Release.Namespace .Values.api.service.port) | quote }}
  K8S_NAMESPACE: {{ .Values.kubernetes.namespace | quote }}
{{- end }}

