{{- if .Values.api.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "scaleodm.fullname" . }}-secret
  labels:
    {{- include "scaleodm.labels" . | nindent 4 }}
type: Opaque
stringData:
  database-url: {{ .Values.secrets.databaseUrl | required "secrets.databaseUrl is required" | quote }}
  s3-endpoint: {{ .Values.secrets.s3Endpoint | required "secrets.s3Endpoint is required" | quote }}
  {{- if .Values.secrets.s3AccessKey }}
  s3-access-key: {{ .Values.secrets.s3AccessKey | quote }}
  {{- end }}
  {{- if .Values.secrets.s3SecretKey }}
  s3-secret-key: {{ .Values.secrets.s3SecretKey | quote }}
  {{- end }}
  {{- if .Values.secrets.s3StsEndpoint }}
  s3-sts-endpoint: {{ .Values.secrets.s3StsEndpoint | quote }}
  {{- end }}
  {{- if .Values.secrets.s3StsRoleArn }}
  s3-sts-role-arn: {{ .Values.secrets.s3StsRoleArn | quote }}
  {{- end }}
{{- end }}

