apiVersion: v1
kind: Secret
metadata:
  name: {{ include "scaleodm.fullname" . }}-secret
  labels:
    {{- include "scaleodm.labels" . | nindent 4 }}
type: Opaque
stringData:
  {{- if not .Values.database.external.enabled }}
  # Database URL for in-cluster Postgres (subchart).
  # For external databases, SCALEODM_DATABASE_URL is read directly from
  # the configured external secret (see deployment.yaml).
  database-url: {{- if .Values.database.postgres.enabled -}}
    {{ printf "postgres://%s:%s@%s-postgresql:5432/%s?sslmode=disable" .Values.database.postgres.auth.username .Values.database.postgres.auth.password .Release.Name .Values.database.postgres.auth.database | quote }}
  {{- else -}}
    {{ required "Either database.external.enabled=true or database.postgres.enabled=true must be set" "" }}
  {{- end }}
  {{- end }}
