{{ define "tasks" }}
{{ template "layout.start" . }}
<section class="panel">
  {{ template "layout.pagination" . }}
  <h1>Jobs</h1>
  <form class="filters" method="get" action="/ui">
    <label>
      Status
      <input type="text" name="status" value="{{ .Status }}" placeholder="queued|running|completed|failed|canceled" />
    </label>
    <label>
      Project
      <input type="text" name="projectID" value="{{ .ProjectID }}" placeholder="search by name or ID" />
    </label>
    <label>
      Limit
      <input type="number" min="1" max="200" name="limit" value="{{ .Limit }}" />
    </label>
    <button type="submit">Apply</button>
  </form>

  <table id="tasks-table" data-refresh-url="/ui/api/tasks">
    <thead>
      <tr>
        <th class="workflow">Workflow</th>
        <th class="project">DroneTM project</th>
        <th class="created">Created</th>
        <th class="started">Started</th>
        <th class="progress">Progress</th>
        <th class="image-count">Images</th>
        <th class="run-duration">Ran for</th>
        <th class="result">Status</th>
      </tr>
    </thead>
    <tbody>
      {{ range .Tasks }}
      <tr class="status-{{ .Status }}">
        <td class="workflow"><a href="/ui/tasks/{{ .UUID }}">{{ .UUID }}</a></td>
        <td class="project">
          {{if ne .ProjectURL ""}}
            <a href="{{ .ProjectURL }}">{{ .ProjectID }}</a>
          {{else}}{{ .ProjectID }}{{end}}
        </td>
        <td class="created" title="Job created at {{ .CreatedAt }}">{{ .CreatedAtAgo }}</td>
        <td class="started">{{ .StartedAt }}</td>
        <td class="progress">{{ .Progress }}%</td>
        <td class="image-count">{{ .ImageCount }}</td>
        <td class="run-duration" title="Job ended at {{ .CompletedAt }}">{{ .RunDuration }}</td>
        <td class="result">
          <div class="status status-{{ .Status }}">{{ .StatusLabel }}</div>
          <div class="error-message">{{ .ErrorMessage }}</div>
        </td>
      </tr>
      {{ else }}
      <tr>
        <td colspan="7">No tasks found.</td>
      </tr>
      {{ end }}
    </tbody>
  </table>
  {{ template "layout.pagination" . }}
</section>
{{ template "layout.end" . }}
{{ end }}
